@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
* {
  box-sizing: border-box;
  outline: 0;
}
body{
    background-color: rgb(42, 43, 44);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00aeff;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: #007acc;
}

